<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Platform>x64</Platform>
        <RuntimeIdentifier>osx-x64</RuntimeIdentifier>
        <PublishDir>..\..\Publish\MBA.Cli-osx-x64-single-cut\</PublishDir>

        <Configuration>Release</Configuration>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
    </PropertyGroup>
</Project>
