<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Platform>ARM64</Platform>
    <RuntimeIdentifier>osx-arm64</RuntimeIdentifier>
    <PublishDir>..\..\Publish\MBA.Cli-osx-arm64-single-cut\</PublishDir>

    <Configuration>Release</Configuration>
    <SelfContained>true</SelfContained>
    <PublishTrimmed>true</PublishTrimmed>
    <PublishSingleFile>true</PublishSingleFile>
  </PropertyGroup>
</Project>
